@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps&display=swap');
:root {
    --bg-color: #F9C89E;
    --my-font: 'Delius Swash Caps', cursive;
}

body {
    background-color: var(--bg-color);
}